.header{
    display: flex;
    background-color: aliceblue;
}

.text-area{
    width: 60%;  
    margin-left: 50px;
    text-align: center;
    
}

.text-area img{
    width: 90%;
}

.box-area{
    
    text-align: center;
    margin: 10px;
    width: 30%;
}

.box-area h3{
    text-align: center;
    margin-left: 40px;
    color: white;
    background-color: brown;
    padding: 10px;
    font-weight: 300;  
    border-radius: 10px; 
}

.box-area ul li{
    list-style-type: none;
    margin-right: 30px;
    color: cornflowerblue;
    font-size: 20px;
}

.box-area2{
    text-align: center;
    box-shadow: 5px 5px 20px black;
    margin-left: 40px;
    padding: 10px;
    border-radius: 15px;   
}

.box-area2 h2{
    margin-left: 10px;
}

.reg{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    box-shadow: 5px 5px 20px white;
    padding: 5px;
    color: white;
    background-color: cornflowerblue;
    margin-left: 40px;
    border-radius: 10px;
    font-weight: 600;
}

